{% extends 'base.html'%}
{% block title %}{{blog.title}}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load static %}
{% block header_extends  %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <!-- <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body"> -->
                        <h3>{{blog.title}}</h3>
                        <ul class="blog_info_description">
                            <li>作者：{{blog.author}}</li>
                            <li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{blog.blog_type}}</a></li>
                            <li>发表时间：{{blog.created_time|date:"Y-n-m H:i:s"}}</li>
                        </ul>
                        <div class="blog-content">{{blog.content}}</div>
                <!-- </div>
            </div>
        </div> -->
        <nav aria-label="...">
            <ul class="pager">
                {% if previous_blog %}
                    <li class="previous"><a href="{% url 'blog_detail' previous_blog.pk %}"><span aria-hidden="true">&larr;</span> {{previous_blog.title}}</a></li>
                {% else %}
                {% endif %}
                {% if next_blog %}
                    <li class="next"><a href="{% url 'blog_detail' next_blog.pk %}">{{next_blog.title}} <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock%}
